/vim/vimundo
/vim/swap
/vim/backup
/vim/fzfHist
/Session.vim
/iterm2/sudo
/iterm2/sysctl
/iterm2/kern.maxfiles=65536
/iterm2/-w
.intuitgithookrc
.DS_Store
/alfred/Alfred.alfredpreferences/snippets/intuit
/alfred/Alfred.alfredpreferences/workflows/user.workflow.DFFB33B7-8BCA-450B-B7FB-569D39149687
